<h1>予約済み一覧</h1>
<table>
    <thead>
        <tr>
            <th>画像</th>
            <th>施設名</th>
            <th>紹介文</th>
            <th>合計金額</th>
            <th>チェックイン</th>
            <th>チェックアウト</th>
            <th>予約確定日時</th>
            <th colspan="2"></th>
        </tr>
    </thead>

    <tbody>
    <% @reserves.each do |room| %>
        <tr>
            <td><%= reserve.room.image_room %></td>
            <td><%= reserve.room.name_room %></td>
            <td><%= reserve.room.detail %></td>
            <td><%= reserve.total_price %></td>
            <td><%= reserve.start_date.strftime("%Y/%m/%d") %></td>
            <td><%= reserve.end_date.strftime("%Y/%m/%d") %></td>
            <td><%= reserve.update_at.strftime("%Y/%m/%d %H:%M") %></td>
            <td>再予約</td>
            <td>予約を削除</td>
        </tr>
    <% end %>
    </tbody>
</table>
