<h1>予約済み一覧</h1>
<table>
    <thead>
        <tr>
            <th>画像</th>
            <th>施設名</th>
            <th>紹介文</th>
            <th>合計金額</th>
            <th>チェックイン</th>
            <th>チェックアウト</th>
            <th colspan="2"></th>
        </tr>
    </thead>

    <tbody>
    <% @reservations.each do |reservation| %>
        <tr>
            <td>
                <% if reservation.room.image_room.present? %>
                    <%= image_tag reservation.room.image_room %>
                <% else %>
                    <%= image_tag 'default-room-image.png', size: '100' %>
                <% end %>
            </td>
            <td><%= reservation.room.name_room %></td>
            <td><%= reservation.room.detail %></td>
            <td><%= reservation.total_price %></td>
            <td><%= reservation.start_date.strftime("%Y/%m/%d") %></td>
            <td><%= reservation.end_date.strftime("%Y/%m/%d") %></td>
            <td>再予約</td>
            <td>予約を削除</td>
        </tr>
    <% end %>
    </tbody>
</table>