<p>施設情報の編集</p>
    <div class="form-body">
        <% @room.errors.full_messages.each do |message| %>
            <div class="form-error">
                <%= message %>
            </div>
        <% end %>
        
    <%= form_tag("/rooms/#{@room.id}/update", {multipart: true}) do %>
        <p>施設名</p>
            <input name="name_room" value="<%= @room.name_room %>">
        <p>詳細</p>
            <textarea name="detail"><%= @room.detail %></textarea>
        <p>料金</p>
            <input name="price" value="<%= @room.price %>" type="number">
        <p>住所</p>
            <input name="address" value="<%= @room.address %>">
        <p>画像</p>
            <input name="image_room" value="<%= @room.image_room %>" type="file">
            <br/>
            <input type="submit" value="保存">
    <% end %>