<div class="room">
    <% if @room.image_room.present? %>
        <%= image_tag @room.image_room %>
    <% else %>
        <%= image_tag 'default-room-image.png', size:"500x300" %>
    <% end %>
    <p>施設名&emsp;<%= @room.name_room %></p>
    <p>住所&emsp;<%= @room.address %></p>
    <p>価格&emsp;<%= @room.price %></p>
    <p>詳細&emsp;<%= @room.detail %></p>
</div>

<% @reservation.errors.each do |message| %>
    <div class="form-error">
        <%= message.full_message %>
    </div>
<% end %>

<%= form_with url: confirm_reservations_path , local: true do |f| %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <table>
    <tr>
        <th>チェックイン</th>
        <td><%= f.date_field :start_date %></td>
    </tr>

    <tr>
        <th>チェックアウト</th>
        <td><%= f.date_field :end_date %></td>
    </tr>

    <tr>
        <th>人数</th>
        <td><%= f.number_field :people,  min: 1%></td>
    </tr>

</table>
    <% if @login_user %>
        <li><%= f.submit "予約する"%></li>
    <% else %>
        <li><button type="button" onclick="location.href='/login'">ログイン</button></li>
    <% end %>
</ul>
<% end %>
