<!DOCTYPE html>
<html>
  <head>
    <title>宿泊予約アプリ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <a href="/top"><p class="icon">Potepan Share</p></a>
        <ul class="header-left">
          <% if @login_user %>
            <li><%= link_to(@login_user.name, "/users/#{@login_user.id}", {class: "icon"}) %></li>
            <li><%= button_to("ログアウト", "/logout", {method: "post"}) %></li>
            <li><button type="button" onclick="location.href='/rooms/index'">施設一覧</button></li>
            <li><button type="button" onclick="location.href='/rooms/new'">施設の新規登録</button></li>
          <% else %>
            <li><button type="button" onclick="location.href='/login'">ログイン</button></li>
            <li><button type="button" onclick="location.href='/signup'">新規登録</button></li>
          <% end %>
        </ul>
    </header>

  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= yield %>

  <footer>
    <a href="/top"><p class="icon">Potepan Share</p></a>
    <small>Copyright&copy;Potepan Share 2023 All rights reserved</small>
  </footer>
  </body>
</html>
